__pycache__/
*.py[cod]
.coverage
.pytest_cache/
.env
devices.json
routes.json
*.sqlite
*.sqlite-*
*.sqlite3
*.sqlite3-*
*.der
*.key
*.prg
*.debug.xml
bin/
/dist/
apps/garmin/private.jungle
apps/garmin/private-resources/
