<settings>
    <group id="pushoverTest" title="@Strings.PushoverGroupTitle" description="@Strings.PushoverGroupDescription">
        <setting propertyKey="@Properties.pushoverUserKey" title="@Strings.PushoverUserKeyTitle" prompt="@Strings.PushoverUserKeyPrompt">
            <settingConfig type="password" required="true" maxLength="30" />
        </setting>
        <setting propertyKey="@Properties.pushoverApiToken" title="@Strings.PushoverApiTokenTitle" prompt="@Strings.PushoverApiTokenPrompt">
            <settingConfig type="password" required="true" maxLength="30" />
        </setting>
    </group>
</settings>
