<settings>
    <group id="testIdentity" title="@Strings.TestIdentityGroupTitle" description="@Strings.TestIdentityGroupDescription">
        <setting propertyKey="@Properties.protectedPersonName" title="@Strings.ProtectedPersonNameTitle" prompt="@Strings.ProtectedPersonNamePrompt">
            <settingConfig type="alphaNumeric" required="false" maxLength="40" />
        </setting>
    </group>
    <group id="emergencyProfile" title="@Strings.EmergencyProfileGroupTitle" description="@Strings.EmergencyProfileGroupDescription">
        <setting propertyKey="@Properties.customAlertMessage" title="@Strings.CustomAlertMessageTitle" prompt="@Strings.CustomAlertMessagePrompt">
            <settingConfig type="alphaNumeric" required="false" maxLength="240" />
        </setting>
        <setting propertyKey="@Properties.homeAddress" title="@Strings.HomeAddressTitle" prompt="@Strings.HomeAddressPrompt">
            <settingConfig type="alphaNumeric" required="false" maxLength="120" />
        </setting>
        <setting propertyKey="@Properties.childrenInfo" title="@Strings.ChildrenInfoTitle" prompt="@Strings.ChildrenInfoPrompt">
            <settingConfig type="alphaNumeric" required="false" maxLength="150" />
        </setting>
        <setting propertyKey="@Properties.personDescription" title="@Strings.PersonDescriptionTitle" prompt="@Strings.PersonDescriptionPrompt">
            <settingConfig type="alphaNumeric" required="false" maxLength="150" />
        </setting>
        <setting propertyKey="@Properties.backgroundInfo" title="@Strings.BackgroundInfoTitle" prompt="@Strings.BackgroundInfoPrompt">
            <settingConfig type="alphaNumeric" required="false" maxLength="180" />
        </setting>
        <setting propertyKey="@Properties.responseInstructions" title="@Strings.ResponseInstructionsTitle" prompt="@Strings.ResponseInstructionsPrompt">
            <settingConfig type="alphaNumeric" required="false" maxLength="180" />
        </setting>
        <setting propertyKey="@Properties.profilePhotoUrl" title="@Strings.ProfilePhotoUrlTitle" prompt="@Strings.ProfilePhotoUrlPrompt">
            <settingConfig type="url" required="false" />
        </setting>
    </group>
    <group id="grafanaIrm" title="@Strings.GrafanaGroupTitle" description="@Strings.GrafanaGroupDescription">
        <setting propertyKey="@Properties.grafanaWebhookUrl" title="@Strings.GrafanaWebhookTitle" prompt="@Strings.GrafanaWebhookPrompt">
            <settingConfig type="password" required="false" maxLength="512" />
        </setting>
    </group>
    <group id="pushoverTest" title="@Strings.PushoverGroupTitle" description="@Strings.PushoverGroupDescription">
        <setting propertyKey="@Properties.pushoverUserKey" title="@Strings.PushoverUserKeyTitle" prompt="@Strings.PushoverUserKeyPrompt">
            <settingConfig type="password" required="false" maxLength="30" />
        </setting>
        <setting propertyKey="@Properties.pushoverApiToken" title="@Strings.PushoverApiTokenTitle" prompt="@Strings.PushoverApiTokenPrompt">
            <settingConfig type="password" required="false" maxLength="30" />
        </setting>
    </group>
</settings>
